
<!DOCTYPE html>
<html lang="en" ng-app="finaqa-app">

    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Please fill the contact form as per your request. You can also reach out to us via email, phone and post.">
        <meta name="keywords" content="contact information, contact finaqa, contact us">
        <meta name="author" content="Vibeosys Software Pvt Ltd">
        <title>Contact Us - FinaQA</title>
        <meta property="og:type" content="website"/>
        <meta property="og:url" content="https://www.finaqa.com/contactUs"/>
        <meta property="og:site_name" content="FinaQA - Money Matters"/>
        <meta property="og:description" content="A query app, which connects you with expert financial professionals to resolve your monetary concerns."/>
        <meta property="og:image" content="https://www.finaqa.com/img/finaqa-white.png"/>
        <meta name="twitter:card" content="summary" />
        <meta name="tiwtter:description" content="Please fill the contact form as per your request. You can also reach out to us via email, phone and post." />
        <meta name="twitter:title" content="Win-Win Situation - Blogs by FinaQA" />
        <meta name="twitter:image" content="https://www.finaqa.com/img/finaqa-white.png" />

        <link href="android-app://com.finaqa/https/finaqa.com" rel="alternate">
        <link rel="apple-touch-icon" sizes="57x57" href="./img/favicon/apple-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="./img/favicon/apple-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/apple-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="./img/favicon/apple-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/apple-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="./img/favicon/apple-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="./img/favicon/apple-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="./img/favicon/apple-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-icon-180x180.png">
        <link rel="icon" type="image/png" sizes="192x192"  href="/img/favicon/android-icon-192x192.png">
        <link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
        <link rel="icon" type="image/png" sizes="96x96" href="/img/favicon/favicon-96x96.png">
        <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png">

        <link href="./img/favicon/favicon.ico" type="image/x-icon" rel="icon"/><link href="./img/favicon/favicon.ico" type="image/x-icon" rel="shortcut icon"/>
        <link rel="stylesheet" href="./css/bootstrap.min.css"/> 
        <link rel="stylesheet" href="./css/animate.min.css"/>        <link rel="stylesheet" href="./css/font-awesome.min.css"/>        <link rel="stylesheet" href="./css/style.css"/>        
        <link rel="stylesheet" href="./css/main.css"/>        
        <link rel="stylesheet" href="./css/settings.css"/>        
        <link rel="stylesheet" href="./css/slick.css"/>        
        <link rel="stylesheet" href="./css/owl.carousel.css"/>        
        <link rel="stylesheet" href="./css/bootstrap-select.css"/>        

                <script>
//<![CDATA[
        var WEBSITE_VIRTUAL_DIR_NAME = '';        
//]]>
</script>                <script src="./js/jquery.js"></script> 
        <script src="./js/jquery-migrate.min.js"></script> 
        <script src="./js/bootstrap.min.js"></script>         
        <script src="./js/custom.js"></script> 
        <script src="./js/slick.min.js"></script> 
        <script src="./js/owl.carousel.min.js"></script> 
        <script src="./js/smoothscroll.js"></script>         
        <script src="./js/bootstrap-select.min.js"></script> 
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-form-validator/2.3.26/jquery.form-validator.min.js"></script>        <script src="./js/angular-js/angular.min.js"></script>        <script src="./js/angular-js/angular-animate.min.js"></script>                <script src="./js/angular-js/angular-aria.min.js"></script>        <script src="./js/angular-js/angular-route.min.js"></script>        <script src="./js/pages/app.config.js"></script>        
        <script src="./js/angular-js/angular-select2.js"></script>        <script src="./js/angular-js/clear-search.js"></script>        <script src="./js/select2.full.js"></script>        <script src="./js/bootstrap-angular.min.js"></script>        <script src="./js/pages/home-page.js"></script>        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=UA-111518526-1"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag(){dataLayer.push(arguments);}
            gtag('js', new Date());

            gtag('config', 'UA-111518526-1');
        </script>
        <script type="application/ld+json">
        {
          "@context": "http://schema.org",
          "@type": "FinancialService",
          "url": "https://www.finaqa.com",
          "name": "FinaQA",
          "description": "A query app, which connects you with expert financial professionals to resolve your monetary concerns.",
          "image": "https://www.finaqa.com/img/finaqa-red.png",
          "founder": "Jiza Agashe",
          "address": "166/3, Medhi Park, F.No.18,19, Unit No 19, D.P.Road, Aundh, Pune India",
          "priceRange": 0,
          "telephone": "+91-7722077353",
          "location": {
            "@type": "Place",
            "address": {
              "@type": "PostalAddress",
              "addressLocality": "Pune",
              "addressRegion": "India",
              "postalCode": "411007",
              "streetAddress": "166/3, Medhi Park, F.No.18,19, Unit No 19, D.P.Road, Aundh"
            },
            "name": "Navik Financial Advisors"
          },
          "contactPoint": {
            "@type": "ContactPoint",
            "telephone": "+91-7722077353",
            "email": "support@finaqa.com",
            "contactType": "Customer service"
          },
          "sameAs" : [
          "https://www.facebook.com/FinaQAApp/",
          "https://twitter.com/FinaQAApp/",
          "https://www.instagram.com/FinaQAApp/"
        ]
        }
        </script>
    </head>

    <body>
        
<header id="header" class="home  header_style_2 sticky_menu header_transparent">
    <div class="header_top mobile_header clearfix top-transparent">
        <div class="container header-container ">
            <div class="logo_wrapper">
                <div class="logo home-page-logo">
                    <a href="./index.html">
                        <img src="./img/finaqa-white.png" class="white-logo" alt="FinaQA"/>                        <img src="./img/finaqa-red.png" class="red-logo" alt="FinaQA"/>                        <span>Money Matters</span>
                    </a>
                    <div id="menu_toggle" class="home-toggle">
                        <button></button>
                    </div>
                </div>
            </div>
            <div class="top_nav header_info home-page-menu">
                <div class="top_nav_wrapper top_nav_mobile clearfix">
                    <ul id="menu-main-menu" class="main_menu_nav">
                        <li >
                            <a href="./index.html">HOME</a>
                        </li>
<!--                        <li >
                            <a href="/about">ABOUT US</a>
                        </li>-->
                        <li >
                            <a href="./services.html">SERVICES</a>
                        </li>
<!--                        <li >
                            <a href="/caseStudies">Case Studies</a>
                        </li>-->
                        <li >
                            <a href="./blog.html">ABOUT US</a>
                        </li>
                        <li >
                            <a href="./blogs.html">Blogs</a>
                        </li>
                        <li class="current-menu-item current_page_item">
                            <a href="./contact.html">Contact</a>
                        </li>
                        <li> <button onclick="window.location.href = '/customer/login';" class="top-login-btn">ASK YOUR QUERY</button></li>
<!--
                        <li >
                            <a href="/testimonials">Testimonials</a>
                        </li>
-->
                    </ul>
                </div>
            </div>
        </div>
    </div>
</header>

<section class="header-about section-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="title_container text-left">
                    <h1>Contact Us</h1>
                         <img src="./img/title-img.png" alt="line-break"/>                </div>
            </div>
            <div class="col-lg-12">
                <div class="breadcrumb_section text-left">
                    <ul class="breadcrumbs">
                        <li class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <a href="/" itemprop="url">Home</a>
                        </li>
                        <li class="breadcrumb" itemscope itemtype="http://data-vocabulary.org/Breadcrumb">
                            <span itemprop="title">Contact Us</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>


    <section class="contact-form">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12 col-xs-12">
                    <div class="title_container stm_animation stm_viewport" data-animate="slideInDown" data-animation-delay="0.5" data-animation-duration="1" data-viewport_position="90">
                        <h1>Contact Us</h1>
                       <img src="./img/title-img.png" alt="line-break"/>                    </div>
                    <div class="contact-submit-form stm_animation stm_viewport select-btn-purpose" data-animate="slideInLeft" data-animation-delay="0.6" data-animation-duration="1" data-viewport_position="90">
 <div ng-controller="mainController">
    <form name="frmContact" novalidate ng-submit="submitForm(frmContact.$valid)">
                <div class="input-form-group">
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right-padding">
                <div class="form-group" ng-class="{ 'has-error' : frmContact.firstName.$invalid && frmContact.firstName.$touched, 'has-success' : frmContact.firstName.$valid }">
                    <input type="text" name="firstName" placeholder="First Name" class="form-control white-bg input-required" required ng-model="firstName">
                    <span ng-show="frmContact.firstName.$invalid && frmContact.firstName.$touched" ng-hide="frmContact.firstName.$pristine || frmContact.firstName.$valid" class="help-block">Enter First name</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right-padding">
                <div class="form-group" ng-class="{ 'has-error' : frmContact.lastName.$invalid && frmContact.lastName.$touched, 'has-success' : frmContact.lastName.$valid }">
                    <input type="text" name="lastName" placeholder="Last Name" class="form-control white-bg input-required" required ng-model="lastName">
                    <span ng-show="frmContact.lastName.$invalid && frmContact.lastName.$touched" ng-hide="frmContact.lastName.$pristine || frmContact.lastName.$valid" class="help-block">Enter Last name</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right-padding">
                <div class="form-group" ng-class="{ 'has-error' : frmContact.email.$invalid && frmContact.email.$touched, 'has-success' : frmContact.email.$valid }">
                    <input type="email" name="email" placeholder="Email" class="form-control white-bg input-required" required ng-model="email">
                    <span ng-show="frmContact.email.$invalid && frmContact.email.$touched" ng-hide="frmContact.email.$pristine || frmContact.email.$valid" class="help-block">Enter Email address</span>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 pull-right-padding">
                <div class="form-group" ng-class="{ 'has-error' : frmContact.phoneNo.$invalid && frmContact.phoneNo.$touched, 'has-success' : frmContact.phoneNo.$valid }">
                    <input type="tel" name="phoneNo" placeholder="Phone No" class="form-control white-bg input-required" required ng-model="phoneNo">
                    <span ng-show="frmContact.phoneNo.$invalid && frmContact.phoneNo.$touched" ng-hide="frmContact.phoneNo.$pristine || frmContact.phoneNo.$valid" class="help-block">Enter Phone no</span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right-padding">
                <div class="form-group choose-perpose" ng-class="{ 'has-error' : frmContact.purposeSelect.$error.required && submitted, 'has-success' : frmContact.purposeSelect.$valid }">
                    <select class="selectpicker form-control input-required purposeselect" required name="purposeSelect" ng-model="purposeSelect">
                        <option disabled value="">Purpose</option>
                        <option value="General">General Query</option>
                        <option value="Request To Join">Contact me for consulting</option>
                        <option value="App Feedback">Feedback about app</option>
                        <option value="Website Feedback">Feedback about website</option>
                        
                    </select>
                         <span ng-show="frmContact.purposeSelect.$error.required && submitted" class="help-block">Select Purpose</span>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right-padding">
                <div class="form-group">
                    <textarea cols="40" rows="10" placeholder="Your message..." ng-model="message"></textarea>
                </div>
            </div>
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 pull-right-padding">
                <input type="submit" class="button-main" value="Submit now"  ng-click="submitted=true" ng-hide="btnDisabled">
                <span class="success-info" ng-show="showSuccessMsg">Thank you! Your mail successfully sent to admin</span>
                <div class="show-info">
                    <span>To empanel with us please go through our <a href="#show_info_finaqa" class="show-link-popup" data-toggle="modal">requirements.</a></span>
                    <div></div>
                </div>
            </div>
        </div>
        </form></div>
                    </div>
                </div>

                <div class="col-lg-5 col-md-6 col-sm-12 col-xs-12 contact-detail">
                    <div class="title_container stm_animation stm_viewport" data-animate="slideInDown" data-animation-delay="0.5" data-animation-duration="1" data-viewport_position="90">
                        <h4>Contact Details</h4>
                       <img src="./img/title-img.png" alt="line-break"/>                    </div>
                    <ul class="contact-info">
                        <li class="wow fadeInDown" data-wow-delay="0.2s">
                            <h4>Location:</h4>
                            <p>FinaQA™ Solutions Pvt. Ltd. 166/3, Medhi Park, F.No.18,19, Unit No 19, D.P.Road, Aundh, Pune 411007</p>
                            <i class="fa fa-map-marker"></i>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.4s">
                            <h4>Email:</h4>
                            <a href="mailto:support@finaqa.com">support@finaqa.com</a>
                            <i class="fa fa-paper-plane-o"></i>
                        </li>
                        <li class="wow fadeInDown" data-wow-delay="0.6s">
                            <h4>Phone:</h4>
                            <a href="tel:+91 7722077353">+91 7722077353</a>
                            <i class="fa fa-mobile"></i>
                        </li>
                         <li class="wow fadeInDown" data-wow-delay="0.6s">
                            <h4>Connect Us:</h4>
                             <a href="https://www.facebook.com/FinaQAApp/" target="_blank" class="social-icon-i"><i class="fa fa-facebook"></i></a>
                             <a href="https://twitter.com/FinaQAApp/" target="_blank" class="social-icon-i"><i class="fa fa-twitter"></i></a>
<!--
                             <a href="#" class="social-icon-i"><i class="fa fa-dribbble"></i></a>
                             <a href="#" class="social-icon-i"><i class="fa fa-pinterest"></i></a>
                             <a href="#" class="social-icon-i"><i class="fa fa-google-plus"></i></a>
-->
                             <a href="https://www.instagram.com/FinaQAApp/" target="_blank" class="social-icon-i"><i class="fa fa-instagram"></i></a>
                            <i class="fa fa-link"></i>
                        </li>
                    </ul>
                </div>


            </div>
        </div>
    </section>
        <div class="loading-img"></div>

<div id="show_info_finaqa" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4>Requirements in order to empanel with FinaQA<sup>&reg;</sup></h4>
            </div>
            <div class="modal-body">
                <div class="show-info-content">
                    <p>As mentioned in the application and the website, FinaQA<sup>&reg;</sup> is interested in taking
                        services of the following:</p>
                    <p class="main-header-p">SEBI Registered Investment Advisors like </p>
                    <ul class="main-header-ul">
                        <li><strong>CFA</strong> - Certified Financial Analyst </li>
                        <li><strong>CFP</strong> - Certified Financial Planners by Financial Planning & Standards Board
                        </li>
                        <li><strong>NISM Certificate holders</strong> - Series X- A Investment Advisor Level 1 & Series
                            X- B Investment Advisor Level 2 </li>
                        <li>NISM accredited certificates
                            <ul>
                                <li><strong>CWM</strong> - Chartered Wealth Managers by American Academy of Financial
                                    Management India Pvt. Ltd</li>
                                <li><strong>International Certificate in Wealth & Investment Management</strong> by
                                    Chartered Institute for Securities & Investment </li>
                                <li><strong>WMC</strong> - Wealth Management Certification (Advance level) by Center for
                                    Investment Education and Learning </li>
                            </ul>
                        </li>
                        <li>Other professionals like
                            <ul>
                                <li><strong>Chartered Accountants</strong></li>
                                <li><strong>Lawyers/Solicitors </strong></li>
                                <li><strong>Company Secretaries</strong></li>
                                <li><strong>Indian Cost and Works Accountants.</strong></li>
                            </ul>
                        </li>
                        <li>Currently we are empaneling with Individuals/Sole Proprietors, Partnership Firms & Limited
                            Liability Partnership (LLP) firms only.</li>
                    </ul>
                    <p>If you hold any of the above qualifications, have the required experience, and adhere to the Best
                        Practice Standards and Code of Ethics as mandated by your respective Boards and Institutes; may
                        please leave your contact details and we will approach you.
                    </p>
                    <h5 class="main-header-p">Benefits of being empaneled Consultant with FinaQA<sup>&reg;</sup></h5>
                    <ul class="main-header-ul">
                        <li>Get paid for advice given by you.</li>
                        <li>Future prospects of fee-paying clients & setting up practice.</li>
                        <li>Scope to increase your client base.</li>
                        <li>Better answers get you better ratings.</li>
                        <li>Better ratings show that clients have more trust and faith in you.</li>
                        <!--                        <p><strong>A FinaQA verified consultant means:</strong></p>
                        <ul>
                            <li>More queries sent to you. </li>
                            <li>Incentives like enhanced fees per query.</li>
                            <li>More Skype meetings with prospective clients.</li>
                        </ul>-->
                    </ul>
                    <p>Better rating show that clients have more trust and faith in you; resulting in more queries being
                        sent to you</p>
                </div>
            </div>
        </div>
    </div>
</div>

        
<footer class="footer-wrapper">
    <div class="footer-container container-fluid">
        <div class="row">
            <div class="footer-column three columns col-lg-5 col-md-3 col-sm-6 col-xs-12" id="footer-widget-1">
                <div id="text-5" class="widget">
                    <div class="textwidget ">
                        <p>
                                <img src="./img/finaqa-white.png" class="footer-logo" alt="FinaQA"/>                        </p>
                        <p class="footer-about-content">No more ad hoc planning for your financial worries. FinaQA<sup>&reg;</sup> is user-friendly platform where you can ask questions regarding Money and its management to qualified and verified consultants. Trust the advice and its implementation will put you on the right path to a worry free financial management for yourself or your business.</p>
                        <p class="social-icon" itemscope itemtype="http://schema.org/Organization">
                            <link itemprop="url" href="https://www.finaqa.com">
                            <a itemprop="sameAs" href="https://www.facebook.com/FinaQAApp/" target="_blank"><i class="gdlr-icon fa fa-facebook" style="color: #bbbbbb; font-size: 20px; "></i></a>
                            <a itemprop="sameAs" href="https://twitter.com/FinaQAApp/" target="_blank"><i class="gdlr-icon fa fa-twitter" style="color: #bbbbbb; font-size: 20px; "></i></a>
<!--
                            <a href="#"><i class="gdlr-icon fa fa-dribbble" style="color: #bbbbbb; font-size: 20px; "></i></a>
                            <a href="#"><i class="gdlr-icon fa fa-pinterest" style="color: #bbbbbb; font-size: 20px; "></i></a>
                            <a href="#"><i class="gdlr-icon fa fa-google-plus" style="color: #bbbbbb; font-size: 20px; "></i></a>
-->
                            <a itemprop="sameAs" href="https://www.instagram.com/FinaQAApp/" target="_blank"><i class="gdlr-icon fa fa-instagram" style="color: #bbbbbb; font-size: 20px; "></i></a>
                        </p>
                    </div>
                </div>
            </div>
            <div class="footer-column three columns col-lg-2 col-md-3 col-sm-6 col-xs-12" id="footer-widget-2">
                <div class="widget">
                    <h3 class="gdlr-widget-title">Quick Links</h3>
                        <img src="./img/title-img.png" class="img-responsive" alt="line-brack"/>                    <div class="gdlr-recent-port2-widget">

                        <ul class="stock_ticker footer-menu-link  static">
                            <li class="plus"><a rel="nofollow" href="./index.html" class="sqitem">Home</a></li>
                             <li class="plus"><a rel="nofollow" href="./blog.html" class="sqitem">About Us</a></li>
                            <li class="plus"><a rel="nofollow" href="./services.html" class="sqitem">Services</a></li>
                            <li class="plus"><a rel="nofollow" href="./casestudies.html" class="sqitem">Case Studies</a></li>
                            <li class="plus"><a rel="nofollow" href="./blogs.html" class="sqitem">Blogs</a></li>
                            
                        </ul>
                    </div>
                </div>
            </div>

            <div class="footer-column three columns col-lg-2 col-md-3 col-sm-6 col-xs-12" id="footer-widget-4">
                <div class="widget">
                    <h3 class="gdlr-widget-title">Quick Links</h3>
                    <img src="./img/title-img.png" class="img-responsive" alt="line-brack"/>                     
                    <ul class="stock_ticker footer-menu-link static">
                        <li class="plus"><a rel="nofollow" href="./contact.html" class="sqitem">Contact Us</a></li>
                        <li class="plus"><a rel="nofollow" href="http://35.225.98.207:8100" class="sqitem">Login</a></li>
                        <li class="plus"><a rel="nofollow" href="./termsandConditions.html" class="sqitem">Terms & Conditions</a></li>
                            <li class="plus"><a rel="nofollow" href="./privacypolicy.html" class="sqitem">Privacy Policy</a></li>
                    </ul>
                </div>
            </div>
            <div class="footer-column three columns col-lg-3 col-md-3 col-sm-6 col-xs-12" id="footer-widget-3">
                <div id="text-4" class="widget">
                    <h3 class="gdlr-widget-title">Contact Info</h3>
                        <img src="./img/title-img.png" class="img-responsive" alt="line-brack"/>                    <div class="contact-info">
                        <p><i class="fa-icon fa fa-home"></i><span class="address-consult">FinaQA<sup>&reg;</sup> Solutions Pvt. Ltd.  <br>166/3, Medhi Park, <br>F.No.18,19, Unit No 19, <br>D.P.Road, Aundh, Pune 411007<br></span></p>
                        <p class="first-node"><i class="fa-icon fa fa-phone"></i> +91 7722077353
                        </p>

                        <p><i class="fa-icon fa fa-envelope"></i> support@finaqa.com
                        </p>

<!--                                <p><i class="fa-icon fa fa-clock-o"></i> Everyday 9:00-17:00</p>-->


                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="copyright-wrapper">
        <div class="copyright-container container">
            <div class="copyright-left">
                Copyright 2016 - 2020 FinaQA<sup>&reg;</sup> All Rights Reserved | Design By <a href="https://www.vibeosys.com" target="_blank">Vibeosys</a>
            </div>
            <div class="copyright-right">
                

            </div>
        </div>  
    </div>
</footer>
                    </body>
</html>
